*{
    padding: 0;
    margin: 0;
}

header{
    background-color: rgb(11, 12, 12);
    margin: auto;
    border: solid 3px blue;

}

header .desafio h2 {
  justify-content: center;
  display: flex;
  color: bisque;
  margin-bottom: 30px;
  margin-top: 10px;
}

header #menu{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
    text-decoration: none;
    color: black;

}

header #menu a{
    text-decoration: none;
    color: rgb(199, 171, 171);
    font-size: larger;
    padding: 10px;
    
}